html, body{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #02253D;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------ INDEX.HTML ------*/

main{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
}

/* - section inicio - */

.inicio{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

/* inicio 1 */

.inicio-1{
    display: flex;
    width: 100%;
    height: 1024px;
    justify-content: start;
    align-items: center;
    background-image: url(/assets/BACKGROUND-INICIO-IMG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.inicio-1 h1{
    margin-top: -200px;
    margin-left: 50px;
    font-size: 2.5rem;
    max-width: 600px;
}

.inicio-1 p, button{
    margin-left: 50px;
}

.inicio-1 h1, p{
    color: white;
}

.inicio-1 p {
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.inicio-1 button{
    width: 222px;
    height: 50px;
    background-color: #FFD600;
    border-radius: 30dvh;
    border-color: #FFD600;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

/* inicio 2 */

.inicio-2{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.inicio-2 h1{
    margin:100px 0px 100px 0px;
    text-decoration: underline #FFD600;
    text-align: center;
    padding: 0 20px;
}

.cards-1{
    display: flex;
    width: 100%;
    height: 690px;
    background-color: #001727;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.card-1-1, .card-1-2, .card-1-3 {
    display: flex;
    width: 290px;
    height: 490px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.card-1-1{
    background-image: url(/assets/CARD1-IMG.png);
}

.card-1-2{
    background-image: url(/assets/CARD2-IMG.png);
}

.card-1-3{
    background-image: url(/assets/CARD3-IMG.png);
}

.div-h2-cards1{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #FFD600;
    color: black;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.div-p-cards1{
    display: flex;
    width: 100%;
    height: 128px;
    margin-top: auto;
    text-align: center;
    align-items: center;
    background-color: #BE5F00;
    padding: 0 10px;
}

/* countainer frase */

.countainer-frase{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0 20px;
}

.countainer-frase img{
    display: flex;
    width: 281px;
    height: 268px;
}

.div-frase{
    display: flex;
    width: 100%;
    height: 268px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 100px;
    flex-direction: column;
    text-align: center;
}

.marcatexto-texto{
    display: flex;
    background-color: #FFD600;
    margin: 0 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: black;
    max-width: 1000px;
}

.marcatexto-texto h1 {
    color: black;
}

.countainer-frase p {
    max-width: 1000px;
    margin: 50px 30px 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}

/* cursos */

.cursos{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #001727;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
}

.cursos h1{
    color: black;
    background-color: #FFD600;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.cards-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-2-1, .card-2-2, .card-2-3{
    display: flex;
    width: 90%;
    max-width: 1081px;
    height: 250px;
    margin: 48px 0;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.card-2-1{
    background-image: url(/assets/IMG-PLANO-GRATIS.png);
}

.card-2-2{
    background-image: url(/assets/IMG-PLANO-PAGO.png);
}

.card-2-3{
    background-image: url(/assets/IMG-PLANO-PREMIUM.png);
}

.countainer-cards-2-div1{
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 20px;
}

.countainer-cards-2-div2{
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
}

.countainer-cards-2-div2 button{
    width: 222px;
    height: 50px;
    background-color: #FFD600;
    border-color: #FFD600;
    margin-top: 70px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

.countainer-cards-2-div1 h1{
    color: white;
    background-color: transparent;
    margin-bottom: 10px;
    margin-left: 0;
}

.countainer-cards-2-div1 p{
    margin-left: 0;
    color: white;
}

.countainer-cards-2-div2 h1{
    color: white;
    background-color: transparent;
    font-size: 2rem;
}

/* artigos */

.artigos{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding: 80px 0;
}

.artigos h1{
    color: white;
    text-decoration: underline #FFD600;
    margin-bottom: 100px;
    margin-top: 0;
}

.cards-3{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
}

.card-3-1, .card-3-2, .card-3-3{
    display: flex;
    width: 358px;
    height: auto;
    min-height: 706px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    color: black;
    overflow: hidden;
    margin-bottom: 30px;
}

.card-3-1 img, .card-3-2 img, .card-3-3 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card3-p1{
    color: black;
    margin: 20px;
    line-height: 1.5;
    flex-grow: 1;
}

.card3-p2{
    color:gray;
}

.leia-mais{
    width: 92px;
    height: 33px;
    background-color: #FFD600;
    border-color: #FFD600;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.card-3-1 div, .card-3-2 div, .card-3-3 div{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.ver-mais{
    width: 222px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: #FFD600;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.div-ver-mais {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* criadores */
.criadores{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.countainer-criadores{
    display: flex;
    width: 90%;
    max-width: 1300px;
    height: auto;
    background-color: #001727;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 50px 0;
    border-radius: 10px;
}

.countainer-criadores h1{
    text-decoration: underline #FFD600;
    margin-bottom: 50px;
}

.countainer-img-nome-criadores{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.countainer-img-nome-criadores img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.img-nome-criadores {
    margin: 20px;
}

/* FAQ */

.page-wrapper {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
}

.faq-card {
    width: 70%;
    max-width: 800px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
    padding: 32px 48px;
    border-radius: 10px;
}

.faq-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #000;
}

.faq-list {
    list-style: none;
}

.faq-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.faq-divider {
    border: none;
    border-top: 1px solid #d3d3d3;
}

.faq-arrow {
    font-size: 18px;
    font-weight: 700;
}

.faq-footer {
    margin-top: 24px;
    text-align: center;
    font-size: 14px;
    color: #000;
}

.faq-footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

.faq-footer a:hover {
    text-decoration: underline;
}

/* Responsivo */
@media (max-width: 1024px) {
    .cards-1 {
        height: auto;
        padding: 50px 0;
    }
    
    .card-1-1, .card-1-2, .card-1-3 {
        margin: 20px 0;
    }
    
    .cards-3 {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .inicio-1 h1 {
        font-size: 2rem;
        margin-left: 20px;
    }
    
    .inicio-1 p, button {
        margin-left: 20px;
    }
    
    .card-2-1, .card-2-2, .card-2-3 {
        flex-direction: column;
        height: auto;
        padding: 30px 0;
    }
    
    .countainer-cards-2-div1, .countainer-cards-2-div2 {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .countainer-cards-2-div2 button {
        margin-top: 30px;
        margin-left: 0;
    }
    
    .countainer-img-nome-criadores {
        flex-direction: column;
    }
    
    .faq-card {
        width: 90%;
        padding: 24px 20px;
    }
}

@media (max-width: 600px) {
    .inicio-1 {
        height: 800px;
    }
    
    .inicio-1 h1 {
        font-size: 1.8rem;
        margin-top: -100px;
    }
    
    .inicio-2 h1 {
        font-size: 1.5rem;
    }
    
    .card-3-1, .card-3-2, .card-3-3 {
        width: 100%;
        max-width: 358px;
    }
    
    .countainer-frase p {
        margin: 50px 15px 100px;
    }
    
    .marcatexto-texto {
        margin: 0 15px;
    }
    
    .marcatexto-texto h1 {
        font-size: 1.3rem;
    }
}